<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/embedded}">
<head>
  <title>All assignments</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card mt-4" th:each="assignment : ${assignments}">
      <div class="card-body">
        <h3 class="card-title" th:text="${assignment.title}"/>
        <form th:action="@{/lti/deep-link}" method="post">
          <input type="hidden" name="selectedAssignmentId" th:value="${assignment.id}">
          <input type="hidden" name="jwt" th:value="${jwtId}">
          <input type="submit" value="Select" class="btn btn-primary">
        </form>
      </div>
    </div>
</div>
</body>
</html>
