<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta th:if="${_csrf != null}" th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:if="${_csrf != null}" th:name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta th:if="${_csrf != null}" th:name="_csrf_parameter" th:content="${_csrf.parameterName}"/>

  <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Code FREAK</title>

  <!-- Bootstrap & app styles -->
  <link rel="stylesheet" href="/assets/style.css"/>
</head>
<body>

<div layout:fragment="body" th:remove="tag">Page body</div>
<div id="toast-container"></div>

<script src="/assets/script.js"></script>
<div th:remove="tag" th:utext="${@environment.getProperty('code-freak.frontend.custom-script')}"></div>
<th:block layout:fragment="scripts" th:remove="tag"></th:block>
</body>
</html>
