<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<body>
<div layout:fragment="body">
  <div class="mh-100vh bg-gray-700 d-flex flex-row">
    <nav th:unless="${embeddedLayout}" class="off-canvas collapse" id="navbarToggle">
      <header class="navbar navbar-expand-lg navbar-dark bg-dark" role="banner">
        <a class="navbar-brand" rel="author" th:href="@{'/'}">
          <div th:insert="fragments/logo-svg" th:remove="tag"></div>
        </a>
      </header>
      <div class="d-flex p-2 m-2 bg-gray-500 align-items-center">
        <div class="mr-2">
          <i class="fas fa-user" style="font-size: 2.5em;"></i>
        </div>
        <div>
          <span sec:authentication="principal.displayName">username</span><br>
          <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-link p-0" />
          </form>
        </div>
      </div>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link py-3 text-white"
             th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active' : ''}"
             th:href="@{'/'}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-3 text-white"
             th:classappend="${#httpServletRequest.getRequestURI().startsWith('/assignments') ? 'active' : ''}"
             th:href="@{'/assignments'}">Assignments</a>
        </li>
      </ul>
      <footer class="text-muted text-center small mt-auto p-2 stealth-link" th:insert="fragments/version-info"></footer>
    </nav>
    <div class="flex-fill bg-white">

      <div class="mh-100vh d-flex flex-column">
        <header th:unless="${embeddedLayout}" class="navbar navbar-light bg-light" role="banner">

          <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30"
                   focusable="false"><title>Menu</title>
                <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10"
                      d="M4 7h22M4 15h22M4 23h22"></path>
              </svg>
            </button>

            <span class="navbar-brand mr-0 d-block d-xl-none">Code FREAK</span>
          </div>
        </header>

        <div class="flex-fill">
          <div layout:fragment="content" class="container py-4">Page content will be placed here.</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
