<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Code FREAK</title>

  <!-- Bootstrap & app styles -->
  <link rel="stylesheet" href="/assets/style.css"/>
</head>
<body>

<div layout:fragment="content" class="container-fluid p-4">Page content will be placed here.</div>

<script src="/assets/script.js"></script>
<div th:remove="tag" th:utext="${@environment.getProperty('code-freak.frontend.custom-script')}"></div>
<div layout:fragment="scripts" th:remove="tag"></div>
</body>
</html>
