.answer-editor-tabs {
  &.ant-tabs-card .ant-tabs-card-bar {
    background-color: #efefef;
    padding-left: 3px;
    margin-bottom: 0;

    .ant-tabs-nav-container {
      height: 30px;
    }

    .ant-tabs-tab {
      height: 30px;
      line-height: 28px;
      border-radius: 0;
    }
  }
}

.answer-editor-code-col {
  display: flex;
  flex-direction: column;
  height: 100%;

  .ace-editor {
    flex-grow: 1;
  }
}

.answer-editor {
  height: 500px;
}

.answer-editor-content {
  height: calc(100% - 30px);

  .syntax-highlighter {
    max-height: 100%;
    overflow: auto;
  }
}
