<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div class="d-inline-block dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" th:classappend="${btnClass}">
      <i class="fas fa-download"></i> <th:block th:text="${btnText}" />
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" th:href="@{${url} + '.zip'}">zip-Archive (.zip)</a>
      <a class="dropdown-item" th:href="@{${url} + '.tar'}">tar-Archive (.tar)</a>
    </div>
  </div>
</body>
</html>
