<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
  <title th:text="${assignment.title}" />
</head>
<body>
<div layout:fragment="content">
  <h1 th:text="${assignment.title}" />
  <div class="lead text-muted" th:text="|by User #${#strings.substring(assignment.owner.id, 30, 36)}|"/>
  <div th:if="${param.saved}" class="alert alert-success" style="margin-top: 1em">
    Your answer has been submitted successfully. It can be updated at any time until the assignment is due.
  </div>

  <div class="card mt-4" th:each="task : ${assignment.tasks}">
    <div class="card-body">
      <h3 class="card-title" th:text="|${task.number}. ${task.title}|"/>
      <p class="card-text" th:utext="${@markdown.html(task.body)}"/>

      <form th:action="@{'/assignments/' + ${assignment.id} + '/tasks/' + ${task.id} + '/answers'}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <a class="btn btn-primary" th:href="@{'/assignments/' + ${assignment.id} + '/tasks/' + ${task.id} + '/ide'}" target="_blank">
          <i class="far fa-edit"></i> Open in Editor</a>
        <button class="btn btn-primary"><i class="far fa-save"></i> Save Answer</a></button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
