<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
  <title th:text="${assignment.title}" />
</head>
<body th:with="title=${assignment.title},subTitle=${#lists.size(taskInfos) + ' task(s)'}">
<div layout:fragment="content" th:with="closed=${assignment.closed}">

  <div class="alert alert-info mt-4" th:if="${!closed && assignment.deadline != null}">
    This assignment will be closed at <strong th:text="${@formatter.dateTime(assignment.deadline)}"></strong>.
    Make sure to submit all your solutions before the deadline. It will not be possible afterwards.
  </div>

  <div class="alert alert-warning mt-4" th:if="${closed}">
    <i class="fas fa-lock"></i> This assignment is closed. You can still view and download your solutions.
  </div>

  <div class="alert alert-warning mt-4" th:if="${#bools.isTrue(ideCouldNotBeStarted) || (needsNewIdeContainer && !canStartNewIdeContainer)}">
    Currently, no new online IDEs can be started because of server capacity limits. You can still download sources and upload solutions manually.
  </div>

  <div class="card mt-4" th:each="taskInfo : ${taskInfos}" th:with="task=${taskInfo.task}">
    <div class="card-body">
      <h3 class="card-title" th:text="${task.title}"/>
      <p class="card-text" th:utext="${@markdown.html(task.body)}"/>

      <div class="d-flex flex-row">
        <a class="btn btn-primary ml-1"
           th:href="@{${@urls.get(task)} + '/ide'}"
           target="_blank"
           th:classappend="${!taskInfo.ideRunning && !canStartNewIdeContainer ? 'disabled' : ''}"
           onclick="setTimeout(() => location.reload(), 1000)">
          <i class="far fa-edit"></i> Open in Editor <span th:if="${taskInfo.ideRunning}">(running)</span>
        </a>

        <div class="input-group ml-1 evaluation" style="width: auto" th:attr="data-running=${taskInfo.evaluationRunning},data-task-id=${task.id}">
          <div class="input-group-prepend">
            <label class="input-group-text">Evaluation</label>
          </div>
          <div class="input-group-append">
            <form action="/evaluations" method="post">
              <span th:unless="${taskInfo.evaluationRunning}"
                    data-toggle="tooltip"
                    th:title="${taskInfo.answerId == null ? 'You have worked at this task yet.' : (taskInfo.evaluationUpToDate && !taskInfo.ideRunning ? 'The evaluation is already up to date.' : '')}">
                <button th:attr="disabled=${taskInfo.answerId == null || (taskInfo.evaluationUpToDate && !taskInfo.ideRunning)}" class="btn btn-primary" type="submit">
                  <i class="fas fa-play"></i> Start
                </button>
              </span>
              <button th:if="${taskInfo.evaluationRunning}" class="btn btn-primary evaluation-running" disabled>
                <i class="fas fa-spinner fa-spin"></i> Running
              </button>
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <input type="hidden" name="taskId" th:value="${task.id}" />
            </form>
            <span class="evaluation-view" data-toggle="tooltip" th:title="${taskInfo.latestEvaluation == null ? 'The evaluation has not been run yet.' : ''}">
              <a th:href="${taskInfo.latestEvaluation != null ? @urls.get(taskInfo.latestEvaluation) : '#'}"
                 th:classappend="${taskInfo.latestEvaluation == null || taskInfo.evaluationRunning ? 'disabled' : ''}"
                 class="btn btn-primary" type="button"><i class="fas fa-poll"></i> View Results</a>
            </span>
          </div>
        </div>

        <button class="ml-auto mr-1 btn btn-light" type="button" data-toggle="modal" th:data-target="|#modal-upload-task-${task.position}|">
          <i class="fas fa-upload"></i> Upload/import source code
        </button>
        <div class="d-inline-block dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="fas fa-download"></i> Download source code
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{${@urls.get(task)} + '/source.zip'}">zip-Archive (.zip)</a>
            <a class="dropdown-item" th:href="@{${@urls.get(task)} + '/source.tar'}">tar-Archive (.tar)</a>
          </div>
        </div>
      </div>

      <div th:id="|modal-upload-task-${task.position}|" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" th:text='|Upload/Import files for "${task.title}"|'/>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="mb-4" th:action="@{${@urls.get(task)} + '/source'}" method="post" enctype="multipart/form-data">
                <h5>Upload files from computer</h5>
                <th:block th:replace="fragments/archive-upload" th:with="inputId=${'task-file-upload-' + task.position}"></th:block>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              </form>
              <div th:if="${#lists.size(supportedGitRemotes)}">
                <form th:action="@{${@urls.get(task)} + '/git-import'}" method="post" enctype="multipart/form-data">
                  <h5>Import from Git</h5>
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                  <div class="form-group">
                    <input type="text" name="remoteUrl" class="form-control"
                           placeholder="ssh://git@example.org:1234/path/to/project.git"
                           required
                           pattern="^ssh://.+$">
                    <div class="form-text text-muted small">Use the Git clone URL and please make sure your link starts with <code>ssh://</code></div>
                    <div class="form-text text-muted small" th:text="'Supported services: ' + ${#strings.listJoin(supportedGitRemotes, ', ')}"></div>
                  </div>
                  <input type="submit" class="btn btn-primary" value="Import from Git">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div layout:fragment="scripts">
  <script src="/assets/assignment.js"></script>
</div>
</body>
</html>
