<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
  <title>All assignments</title>
</head>
<body>
<div layout:fragment="content">
  <h1>All assignments</h1>

  <div class="card mt-4" th:each="assignment : ${assignments}">
    <div class="card-body">
      <h3 class="card-title" th:text="${assignment.title}"/>
      <p class="card-text" th:text="|${#lists.size(assignment.tasks)} task(s)|"/>

      <a class="btn btn-primary" th:href="@{'/assignments/' + ${assignment.id}}">
        <i class="fas fa-file-alt"></i> Details</a>
    </div>
  </div>
</div>
</body>
</html>
