<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      th:with="title=${'Submissions for ' + assignment.title}">
<head>
  <title th:text="${title}"></title>
</head>
<body>
<div layout:fragment="content">

<div th:if="${submissions.isEmpty()}" class="alert alert-info mt-4">
  There are no submissions yet.
</div>

<table th:unless="${submissions.isEmpty()}" class="table table-responsive mt-4">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col" th:each="task : ${assignment.tasks}" th:text="${task.title}"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="submission : ${submissions}">
      <td th:text="${submission.user.username}"></td>
      <td th:each="task : ${assignment.tasks}" th:with="answer=${submission.getAnswer(task.id)}, evaluation=${evaluations.get(answer.id)}">
        <span th:if="${answer == null}" class="text-muted">no answer</span>
        <th:block th:if="${answer != null}" th:with="btnClass='btn-sm',url=${@urls.get(answer) + '/source'}" th:insert="fragments/archive-download" />
        <a th:if="${answer != null}"
           class="btn btn-primary btn-sm"
           th:classappend="${evaluation.isPresent() ? '' : 'disabled'}"
           th:href="${evaluation.isPresent() ? @urls.get(evaluation.get()) : '#'}">
          <i class="fas fa-poll"></i>
        </a>
        <div class="d-inline-block" th:if="${evaluation.isPresent()}">
          <th:block th:each="result : ${evaluation.get().results}" th:switch="${states.get(result.id).name()}">
            <i th:case="'SUCCESS'" class="fas fa-check-circle text-success" th:title="${result.runnerName}" data-toggle="tooltip"></i>
            <i th:case="'FAILURE'" class="fas fa-times-circle text-danger" th:title="${result.runnerName}" data-toggle="tooltip"></i>
            <i th:case="'ERROR'" class="fas fa-exclamation-circle text-danger" th:title="${result.runnerName}" data-toggle="tooltip"></i>
            <i th:case="*" class="fas fa-question-circle text-info" th:title="${result.runnerName}" data-toggle="tooltip"></i>
          </th:block>
        </div>
      </td>
    </tr>
  </tbody>
</table>

</div>
</body>
</html>
