<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      th:with="title=${'Submissions for ' + assignment.title}">
<head>
  <title th:text="${title}"></title>
</head>
<body>
<div layout:fragment="content">

<div th:if="${submissions.isEmpty()}" class="alert alert-info mt-4">
  There are no submissions yet.
</div>

<table th:unless="${submissions.isEmpty()}" class="table table-responsive mt-4">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col" th:each="task : ${assignment.tasks}" th:text="${task.title}"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="submission : ${submissions}">
      <td th:text="${submission.user.username}"></td>
      <td th:each="task : ${assignment.tasks}" th:with="answer=${submission.getAnswer(task.id)}, evaluationViewModel=${evaluationViewModels.get(answer.id)}">
        <span th:if="${answer == null}" class="text-muted">no answer</span>
        <div class="row" th:if="${answer != null}">
          <div class="col col-auto pr-2">
            <th:block th:with="btnClass='btn-sm',url=${@urls.get(answer) + '/source'}" th:insert="fragments/archive-download" />
            <a class="btn btn-primary btn-sm"
               th:classappend="${evaluationViewModel.isPresent() ? '' : 'disabled'}"
               th:href="${evaluationViewModel.isPresent() ? @urls.get(evaluationViewModel.get().evaluation, 'submissions') : '#'}">
              <i class="fas fa-poll"></i></a>
          </div>
          <div class="col pl-2">
            <ul class="d-inline-block list-unstyled mb-0" th:if="${evaluationViewModel.isPresent()}">
              <li class="submissions-eval-line"
                  th:each="result : ${evaluationViewModel.get().evaluation.results}"
                  th:with="content=${evaluationViewModel.get().resultContents[result.id]}">
                <th:block th:insert="${evaluationViewModel.get().resultTemplates[result.id]}"></th:block>
              </li>
            </ul>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

</div>
</body>
</html>
