@import '~antd/es/style/themes/default';

.evaluation-step-result-icon {
  svg[data-icon='exclamation-circle'] {
    color: @warning-color;
  }

  svg[data-icon='check-circle'] {
    color: @success-color;
  }

  svg[data-icon='close-circle'] {
    color: @error-color;
  }

  svg[data-icon='question-circle'] {
    color: @blue-5;
  }
}
