@import '~antd/lib/style/index';

.submissions-table {
  td,
  .ant-table-title {
    background: white;
  }

  .evaluation-summary {
    display: inline-block;
    margin-left: 5px;
    vertical-align: text-bottom;
  }

  .no-answer {
    opacity: 0.25;
  }

  .anticon-check-circle {
    color: @success-color;
  }

  .evaluation-step-results {
    .anticon {
      margin: 0 2px;
    }
  }
}
