// app styles

body, html {
  overflow-x: hidden;
}

table {
  @extend .table;
}

.post-content p {
  text-align: justify;
}

.mh-100vh {
  min-height: 100vh;
}

a.stealth-link, .stealth-link a {
  color: inherit;
}

.bg-white-transparent {
  background: rgba(255, 255, 255, .5);
}

.github-corner {
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 0;
}

.off-canvas {
  display: flex;
  flex-direction: column;
  width: $off-canvas-width;
  position: absolute;
  z-index: 0;

  &.collapse,
  &.collapsing {
    display: flex;
    transition-duration: unset;
    transition-property: none;
  }

  & + div {
    transition: transform 200ms;
    transform: translateX(0);
  }

  &.show + div,
  &.collapsing + div {
    transform: translateX($off-canvas-width);
  }
}

.navbar-toggler {
  display: inline-block !important;

  @include media-breakpoint-up(xl) {
    display: none !important;
  }
}

@include media-breakpoint-up(xl) {
  .off-canvas {
    position: relative;
    height: auto;

    &.show + div,
    &.collapsing + div {
      transform: translateX(0);
    }
  }
}

.highlighter-rouge {
  margin-bottom: 1em;

  > .highlight {
    padding: 4px;
  }

  pre {
    margin-bottom: 0;
  }
}

.navbar {
  padding-top: .825rem;
  padding-bottom: .825rem;
  min-height: 69px;
}

.navbar-brand svg {
  height: 30px;
  width: auto;
  color: white;
  path {
    fill: white;
  }
}

.code-freak-logo {
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 160px;
}

#toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  max-width: 300px;
  width: calc(100% - 40px);

  .toast {
    width: 100%;
  }
}
